# MongoDB Connection String
# Replace <your_actual_password> with your MongoDB Atlas password
MONGODB_URI=mongodb+srv://usamabinhaleem524:<your_actual_password>@cluster0.qjycnpx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# Next.js Configuration
NEXT_PUBLIC_APP_NAME=Admin Dashboard 